<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!-- 사용하는 파일의 스키마(설정 같은) 형태를 지정하는 내용 -->
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://172.30.1.6:3306/YOUDONG_DB?serverTimezone=UTC"/>
        <property name="username" value="YOUDONG1"/>
        <property name="password" value="1234"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- mapper (쿼리 구문)을 찾아 갈 수 있도록 mapping 해주는 영역 -->
  <mappers>
    <mapper resource="com/smhrd/db/Mapper.xml"/>
  </mappers>
</configuration>